/*=============================================
= Section Defult
=============================================*/
* {
    box-sizing: border-box;
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: "Open Sans", sans-serif;
  }
  
  ul {
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.4s ease-in-out;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    font-family: "Instrument Sans", sans-serif;
  }
  
  p,
  span,
  li {
    font-family: "Instrument Sans", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0px 0px;
    padding: 0px 0px;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0px;
  }
  dl,
  ol,
  ul,
  a {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;

  }
  strong {
    font-weight: bolder;
  }
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  i {
    font-style: italic;
  }
  div {
    outline: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  /*=============================================
    = END Section Defult
    =============================================*/
  

    /* Container */
    img.header-jadoo-img {
      max-width: 1440px;
      cursor: pointer;;
  }

    .container {
        /* width: 100%; */
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 50px;
        display: block;
      }
      @media only screen and (max-width: 1660px){
        .container{
          max-width: 1300px;
        }
      }
      @media only screen and (max-width: 1320px){
        .container{
          max-width: 1200px;
        }
      }
      @media only screen and (max-width: 991px){
        .container{
          max-width: 960px;
          padding: 0 30px;
        }
      }
      @media only screen and (max-width: 412px){
        
      }
      /* END container */


 /*********************************************** header-section *************************************/
.traveling-main-header .container {
  position: relative;
}
 .header-main-menu {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;

}
select.header-option {

  font-size: 17px;
  background: transparent;
  border: none;
  color: #212835;
  cursor: pointer;
}
/* button.toggle-btn i{
  font-size: 20px;
  background-color: #ebebeb;
  padding: 5px 5px;
  display: none;
} */
button.toggle-btn {
  font-size: 20px;
  background-color: #ebebeb;
  padding: 5px 5px;
  display: none;
}
.header-menu {
    display: flex;
    align-items: center;
    gap: 33px;

}
.header-menu:hover{
    color: #5e6282;
}
.header-login-btn {
  border: none;
  background: transparent;
  font-size: 17px;
  color: #212932;
  font-weight: 500;
  line-height: 100%;
}
.header-sign-up-btn {
  padding: 10px;
  border-radius: 5px;
  width: 102px;
  font-size: 17px;
  background: transparent;
  color: #212835;
  border: 1px solid black;
  text-align: center;
  height: 40px;
}
a.header-list {
    color: #212835;
    font-size: 17px;
    line-height: 100%;
    font-weight: 400;
}

/* 1024px */  
@media (max-width: 1024px){
  .header-main-menu {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}
.left-col-1 {
  width: 45%;
  margin-top: 72px;
}
.header-main-menu {
  gap: 150px;
}
.header-menu {
  gap: 38px;
}
.left-col-1 {
  margin-top: 60px;
}
}

/* 1004 */
@media (max-width: 1004px){
  .header-menu{
    gap: 34px;
  }
}
/* 992px */
@media (max-width: 992px){
  .header-main-menu {
    justify-content: space-between;
}
.header-menu {
  gap: 31px;
}

}
/* 320px */
@media (max-width: 320px){
  .header-main-menu {
    justify-content: center;
    position: relative;
}
.header-menu {
  gap: 31px;
}

}

@media (max-width: 999px){
  .header-menu {
    display: none; /* Initially hidden */
    /* transition-timing-function: ease;  */
    transition: width  2s ease;
    position: absolute;
    top: 97px;
    width: 97%;
    background-color: rgba(241, 165, 1, 0.98);
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  button.toggle-btn {
    display: block;
  }
 
  a.header-list {
    color: #212835;
    font-size: 17px;
    line-height: 100%;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 29px;
    margin-top: 21px;
}
.header-login-btn {
  width: 100%;
  text-align: center;
}
.header-language {
  text-align: center;
  padding-bottom: 20px;
}
.sign-up-btn {
  width: 100%;
  text-align: center;
  padding: 31px 0 31px;
}


}
/* 834px */
@media (max-width: 834px){
  .decore-img {
    position: absolute;
    top: 37px !important;
    right: -24px !important;
    z-index: -1;
    width: 63%;
}
.decore-img {
  position: absolute;
  top: 37px !important;
  right: -24px !important;
  z-index: -1;
  width: 63%;
}

.header-menu {
  display: none;
}

button.toggle-btn {
  display: block;
}
}
/***********************************************END  header-section **********************************/
  


/********************************* footer ************************************/
.fotter-main-section {
display: flex;
justify-content: space-around;
padding: 166px 140px 0 139px;

}

h1.footer-heading-text {
    
    font-size: 44px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    color: #181E4B;
    padding-bottom: 50px;
}
p.footer-h-p {
    font-size: 13px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0;
}
h1.company-header-text {
    font-size: 21px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0;
    margin-bottom: 36px;
}
h1.info-header-text {
    font-size: 21px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0;
    margin-bottom: 36px;
}
h1.contact-header-text {
    font-size: 21px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0;
    margin-bottom: 36px;
}
.comapny-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    gap: 17px;
}

img.facebook {
    height: 41px;
    width: 41px;
}
img.twitter {
    height: 41px;
    width: 41px;
}
img.instagram {
    width: 45px;
    margin: 0 5px 0 11px;
}
.company-app-avalible {
    display: flex;
    align-items: center;
    column-gap: 16px;
    cursor: pointer;
}

p.discover-text {
    font-size: 20px;
    line-height: 125%;
    margin: 10px;
}
p.all-rights {
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    margin-top: 83px;
}
.copany-social-media-app {
    width: 25%;
    margin-left: 100px;
}
.footer-heading {
  max-width: 20%;
  padding-right: 32px;
}

.company-all- {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 91px;
    width: 50%;
    max-width: 60%;
}
.comapny-social-media {
  cursor: pointer;
}


/* 312px */

@media (max-width: 312px){
  .fotter-main-section {
    padding: 100px 0 0 0 !important; 
    display: flex;
    justify-content: space-around;
    padding: 166px 126px 0 139px;
    flex-direction: column;
}
.copany-social-media-app {
  width: 25%;
  margin-left: 98px !important;
}
.footer-heading {
  max-width: 100%;
  padding-right: 0;
  text-align: center;
}
.company-all- {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 91px;
  width: 100%;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
}
.comapny-social-media {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.company-list {
  padding: 50px 0 50px 0;
}
.comapny-contact {
  padding-bottom: 50px;
}
.company-list {
  padding-bottom: 50px;
}
img.play-store-logo {
  max-width: 317%;
}
img.app-store-logo {
  max-width: 317%;
}
.company-app-avalible {
  flex-direction: column;
  margin-top: 26px;
}

}


/* 412 */
@media (max-width: 412px){
  .fotter-main-section {
    display: flex;
    justify-content: space-around;
    padding: 166px 126px 0 139px;
    flex-direction: column;
}
.footer-heading {
  max-width: 100%;
  padding-right: 0;
  text-align: center;
}
.company-all- {
  display: flex
;
  justify-content: center;
  align-items: center;
  column-gap: 91px;
  width: 100%;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
}
.copany-social-media-app {
  width: 25%;
  margin-left: 122px;
}
.comapny-social-media {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-list {
  padding: 50px 0 50px 0;
}
.comapny-contact {
  padding-bottom: 50px;
}
.company-list {
  padding-bottom: 50px;
}
}

/* 425 */
@media (max-width: 425px){
  .fotter-main-section {
    display: flex;
    justify-content: space-around;
    padding: 166px 126px 0 139px;
    flex-direction: column;
}
.footer-heading {
  max-width: 100%;
  padding-right: 0;
  text-align: center;
}
.company-all- {
  display: flex
;
  justify-content: center;
  align-items: center;
  column-gap: 91px;
  width: 100%;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
}
.copany-social-media-app {
  width: 25%;
  margin-left: 122px;
}
.comapny-social-media {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-list {
  padding: 50px 0 50px 0;
}
.comapny-contact {
  padding-bottom: 50px;
}
.company-list {
  padding-bottom: 50px;
}
}
/* 1200px  */
@media (max-width: 1200px){
  .fotter-main-section {
    display: flex;
    justify-content: space-around;
    padding: 166px 126px 0 139px;
}
}

/* 1280px */
@media (max-width: 1280px){
  .fotter-main-section {
    padding: 166px 0 0 0;
    max-width: 100%;
  }
}

/* 834 */
@media (max-width: 834px){
  .fotter-main-section {
    flex-wrap: wrap;
  }
  .copany-social-media-app {
    margin-top: 58px;
}
}
p.all-rights {
  margin-top: 41px;
}
/********************************* END  footer ************************************/

/*************************************** section-1 **************************************/
.main-section-1 {
    display: flex;
    justify-content: center;
   padding-top: 30px;
}
.left-col-1 {
  width: 45%;
  margin-top: 112px;
}
p.travel-top-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}
h1.travel-header-new {
    font-size: 84px;
    font-weight: 700;
    line-height: 89px;
    letter-spacing: -4%;
    margin: 33px 0 22px 0;
    font-family: "Open Sans", sans-serif;
}
p.travel-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
button.find-more-btn {
    width: 156px;
    height: 50px;
    background-color: #F1A501;
    border: navajowhite;
    border-radius: 9px;
    cursor: pointer;
}
img.video-play-img {
  cursor: pointer;
  padding-top: 19px;
}
p.video-info {
  cursor: pointer;
}
.find-play {
    display: flex;
    justify-content: normal;
    align-items: center;
    column-gap: 10px;
}
.video-play {
    display: flex;
    justify-content: center;
    align-items: center;
}

.decore-img {
  position: absolute;
  top: 74px;
  right: -8px;
  z-index: -1;
}

.background-img {
  position: absolute;
  top: 0;
  right:  0;
  z-index: -1;

}
.travel-header {
  position: relative;
}

@media (max-width: 312px) {
  h1.travel-header-new {
    font-size: 53px;
    line-height: 61px;
    text-align: center;
  }
}

/* 475px */
@media only screen and (max-width: 475px){
  .main-section-1 {
    flex-direction: column;
    align-items: center;
}
.left-col-1 {
  width: 100% !important;
 margin-top: 59px; 
}
}
/* 1200px */
@media (max-width: 1200px){
  .decore-img {
    position: absolute;
    top: 68px;
    right: -10px;
    z-index: -1;
    width: 55%;
}
h1.travel-header-new {
  font-size: 69px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -4%;
  margin: 33px 0 22px 0;
}

}

/* 1024px */
@media (max-width: 1024px) {
  h1.travel-header-new {
      font-size: 91px;
      font-weight: 700;
      line-height: 106px;
      letter-spacing: -4%;
      margin: 33px 0 22px 0;
  }
  .decore-img {
    top: 190px;
    left: -18px;
    width: 86%;
}
button.find-more-btn {
  width: 133px;
  height: 87px;
}
}

/* 992 */
@media (max-width: 992px){
  .left-col-1 {
    width: 65%;
    margin-top: 59px;
}


}
/* 834px */
@media (max-width: 834px){
  p.travel-top-text {
    font-size: 15px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}
h1.travel-header-new {
  font-size: 50px;
  line-height: 53px;
}
.background-img {
  max-width: 66%;
}
img.girl-main {
  max-width: 100%;
  height: 363px;
  margin: 100px 0 0 83px;
}
.decore-img {
  position: absolute;
  top: 163px !important;
  right: 54px !important;
  z-index: -1;
}

}

/* 768px */

@media (max-width: 768px) {
  .decore-img {
      position: absolute;
      top: 34px !important;
      right: -34px !important;
      z-index: -1;
  }
  .main-section-1 {
    padding-top: 78px;
  }
  img.girl-main {
    margin: 0;
  }
}

/* 312px */
@media (max-width: 312px) {

  .main-section-1 {
    padding-top: 0;
  }
  .decore-img {
    position: absolute;
    top: 109px ;
    right: 0 ;
    z-index: -1;

  }
  img.girl-main{
    margin: 31px 0 0 0px !important; 
  }

  button.find-more-btn {
    width: 133px;
    height: 49px;
}
img.video-play-img {
  cursor: pointer;
  padding-top: 19px;
  width: 50%;
}
}

/* 412px */
@media (max-width: 412px){
  .main-section-1 {
    flex-direction: column;
  }
  h1.travel-header-new {
    font-size: 49px;
    line-height: 63px;
}
.left-col-1 {
  width: auto;
  margin-top: 63px;
}
.background-img {
  max-width: 100%;
}
.decore-img {
  position: absolute;
  top: 42px !important;
  right: -10px !important;
  z-index: -1;
}
img.girl-main {
  max-width: 100%;
  height: 363px;
  margin: 52px 0 0 29px;
}
.find-play {
  display: flex;
  justify-content: normal;
  align-items: center;
  column-gap: 0;
  flex-direction: column;
  gap: 14px;
  padding-top: 40px;
}
}

/***************************************END  section-1********************************************** */

/***************************************  section-2********************************************** */
.service-top-des {
  padding-bottom: 60px;
}
.top-row-3 {
  margin-top: 123px;
}
.searvice-list:hover {
  box-shadow: 0 6px 12px 0 #135EAC1F;
  border-radius: 30px;
}
.searvice-list {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
p.category-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}
h1.service-text {
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  text-transform: math-auto;
}
.main-row-2 {
  margin-top: 100px;
  position: relative;
}
.searvice-bg-img {
  position: absolute;
  top: 0px;
  right: -60px;
}
.bottom-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 93px;
  width: 100%;
}   
p.wheather-text {
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  width: 190px;
  padding: 22px 0 22px 0;
}
p.about-wheather-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
p.about-Flights-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

}
p.about-customization-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

}
p.about-events-tex {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

}
p.Flights-text {
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  padding: 0 0 18px 0;
}
p.events-text {
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  padding: 22px 0 22px 0;
}
p.customization-text {
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  padding: 22px 0 22px 0;
}
.Flights-imges {
  width: 137px;
  
}

/* 1200px */
@media (max-width: 1280px){
  .searvice-bg-img{
    display: none;
  }
}

/* 312px */
@media (max-width: 312px){
  h1.service-text{
    font-size: 22px
  }
}

/* 834px */
@media (max-width: 834px){
 
.searvice-list {
  width: 35%;
}
.bottom-row-2 {
  flex-wrap: wrap;
}
}


@media only screen and (max-width: 767px){
  .searvice-list {
    width: 100%;
  }
  .about-wheather{
    width: 100%;
  }
  .bottom-row-2 {
    flex-direction: column;
    row-gap: 50px;

  }
}
/***************************************END  section-2********************************************** */



/***************************************  section-3********************************************** */

p.top-sell-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.destination--images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.destination-main-img {
  position: relative;
  box-shadow: 0 0 24px #ddd8d8;
  border-radius: 30px;
}
.destination--images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 60px;
}
.des-name-price-days {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}
img.des-img {
  border-radius: 30px;
  cursor: pointer;
}
.trip-day {
  display: flex;
  gap: 14px;
}
.place-name-price {
  display: flex;
  align-items: center;
  gap: 103px;
  padding-bottom: 19px;
}
p.des-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
}
p.price {
  font-size: 18px;
  line-height: 125%;
  font-weight: 400;
}
p.destination-day {
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
}
h1.des-top-text {
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  text-transform: math-auto;
}
/* media Query */

/* 312px */

@media (max-width: 312px){
  h1.des-top-text {
  font-size: 22px;
  }
}

/* 834px */

@media (max-width: 834px){
  .destination--images {
    flex-direction: column;
    row-gap: 80px;
  }
  .destination-main-img {
    width: 70%;
  }
  img.des-img {
    width: 100%;
    height: 395px;
    
  }
  .place-name-price{
    justify-content: space-between
  }
}
/* 767px */
@media only screen and (max-width: 767px){
  .destination--images {
    row-gap: 117px;
    flex-direction: column;
}
.destination-main-img {
  position: relative;
  box-shadow: 0 0 24px #ddd8d8;
  border-radius: 30px;
  max-width: 100%;
  width: 100%;
}
img.des-img {
  width: 100%;
}
.place-name-price {
  justify-content: space-between;
}
}
/***************************************END  section-3********************************************** */
/*************************************** section-4********************************************** */
.travel-trip-booking {
  display: flex;
  margin-top: 186px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 200px;

}

.selet-des {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 48px;
  max-width: 70%;
}
p.easy-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  padding-bottom: 15px;
}
h1.next-bokk-trip {
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  width: 511px;
  padding-bottom: 31px;
  font-family: "Open Sans", sans-serif;
}
p.des-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
}
p.info-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
}
/* Right */
.trip-logos {
  display: flex;
      justify-content: left;
      gap: 18px;
      align-items: center;
      padding-bottom: 30px;
}
.choose-info {
  padding-left: 12px;
}
.trip-view {
  background-color: #f6f6f6;
  height: auto;
  border-radius: 25px; 
  position: relative; 
}
.place-img {
  padding: 20px 24px 26px 24px;

}
.going-status {
  display: flex;
  gap: 5px;
  padding-bottom: 29px;
}
.people-info {
  padding-left: 25px;
}
h3.place-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  padding-bottom: 13px;
}
p.trip-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}
.trip-view:hover {
  box-shadow: 0 0 24px #ebebeb;
}

p.trip-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  padding-bottom: 21px;
}
.ongoing-status {
  display: flex;
  /* align-items: center; */
  gap: 12px;
  width: 263px;
  background-color: #f3f3f3;
  position: absolute;
  right: -125px;
  bottom: 54px;
  padding: 16px  22px 20px;
  border-radius: 18px;
}
.status-bg-im {
  position: absolute;
  top: -136px;
  right: -123px;
  z-index: -1;
  opacity: 0.8;
}

.ongoing-status:hover{
  box-shadow: 0 0 24px #cec2c2;
}
p.status-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -3.5%;
  color: #84829A;
}
h5.home-stutus {
  font-size: 18px;
  line-height: 125%;
  font-weight: 400;
  padding: 6px 0 14px 0;
}
p.complete-status {
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -5.5% !important;
  padding-bottom: 10px
}
.color-line {
  width: 73px;
  height: 5px;
  background-color: #8A79DF;
  position: absolute;
  left: 35px;
  top: 103px;
}
.paln-line {
  width: 156px;
  height: 5px;
  background-color: #cecaca;
  position: relative;
}

/* media Query  */


/*  */
@media (max-width: 312px){
  p.easy-text{
   text-align: center;
  }
  h1.next-bokk-trip {
    font-size: 22px !important;
    width: 245px !important;
    text-align: center !important;
}
.selet-des {
  display: flex;
      justify-content: start;
      align-items: center;
      padding-bottom: 48px;
      max-width: 70%;
      flex-direction: column;
      text-align: center;
      max-width: 100%;
     
}
.going-status {
  padding-bottom: 29px;
}
.trip-view {
  margin-top: 50px;
}
.status-bg-im {
  right: -30px !important;
}
.ongoing-status{
  right: -23px;
    bottom: -114px;

}
.travel-trip-booking {
  margin-top: 91px;
}


}

/* 992px */
@media (max-width: 992px){
p.travel-top-text {
  font-size: 19px;
}
.travel-trip-booking {
  gap: 76px;
}
h1.next-bokk-trip {
  width: 419px !important;
}
.status-bg-im {
  right: -159px !important;
}

.book-step {
  width: 46% !important;
}
}

/* 1024px */
@media (max-width: 1024px){
  h1.next-bokk-trip {
    font-size: 34px;
    font-weight: 700;
    line-height: 100%;
    width: 490px;
    padding-bottom: 31px;
}

.book-step {
  width: 47%;
}
}
/* 1280px */
@media  (max-width: 1280px){
  .travel-trip-booking {
    gap: 166px;
}
.status-bg-im {
  right: -133px;
}

}

/* 1200px */

@media (max-width: 1200px){

  .travel-trip-booking {
    justify-content: normal;
    gap: 0;

  
}
.status-bg-im {
  right: -171px;
}
}

/* 1280px */

@media (max-width: 1280px){
  .travel-trip-booking {
    gap: 2px;
}
}

/* 767px */
 @media only screen and (max-width: 767px){
  .book-step {
    width: 100% !important;
}
.travel-trip-booking {
  flex-direction: column;
  
}
 }

 /* 412px */
 @media (max-width: 412px){
  .selet-des{
    flex-direction: column;
    text-align: center;
    max-width: 100%;
  }
  h1.next-bokk-trip{
    width: 100% !important;
    text-align: center;
    font-size: 22px;
  }
  p.easy-text {
    text-align: center;
  }
  .trip-view {
    width: 100% !important;
}
.ongoing-status {
  right: -6px;
  bottom: -112px;
  width: 80%;

}
.status-bg-im {
  right: 0 !important;
} 
 }


 /* 425px */
 @media (max-width: 425px){
  .selet-des{
    flex-direction: column;
    text-align: center;
    max-width: 100%;
  }
  h1.next-bokk-trip{
    width: 100% !important;
    text-align: center;
    font-size: 22px;
  }
  p.easy-text {
    text-align: center;
  }
  .trip-view {
    width: 100% !important;
}
.ongoing-status {
  right: -6px;
  bottom: -112px;
  width: 80%;

}
.status-bg-im {
  right: 0 !important;
} 
 }
 /* 834px */
 @media (max-width: 834px){
  
.travel-trip-booking{
  flex-direction: column;
    justify-content: center !important;
    align-items: center;
    row-gap: 60px;
}
.book-step {
  width: 100% !important;
}
.trip-view{
  width: 50%;
}
 }
/*************************************** END section-4********************************************** */
/***************************************  section-6********************************************** */
.slick-slider {
  display: flex;
  width: calc(89px * 18);
  align-items: center;
  gap: 77px;
  justify-content: center;
  animation: scroll  20s linear infinite ;
  
}
.main-sec-6 {
  margin: 100px 0 100px 0;
}
.section-6{
  display: inline-block;
  vertical-align: top;
  width: 100%;

}
@keyframes scroll {
  0%{
      transform: translateX(10);
  }
  100%{
      transform: translateX(calc(-100px * 10));
  }
  
}
img.all-com-logo {
  
  transition: transform 1s;
}
img.all-com-logo:hover{
  transform: translateZ(20px);
}


.com-logo-1 {
  filter: grayscale(1);
}
.com-logo-1:hover {
  filter: unset;
}

.container-com-logo{
    /* height: 350px; */
    margin: 0 auto;
    /* position: relative; */
    display: grid;
    /* place-items: center; */
    width: 100%;
    max-width: 1040px;
    display: block;
    overflow: hidden;
}

/* media query  */
@media  (max-width: 312px){
  .slick-slider{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0px;
    justify-content: center;
    flex-direction: column;
  
  }
}

/* 834 */
@media (max-width: 834px){
  .slick-slider{
    flex-wrap: wrap;
  }
}
/*************************************** END section-6********************************************** */
/***************************************  section-5********************************************** */


.main-sec-5 {
  display: flex;
  justify-content: space-around;
  
}
p.testination {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  padding-bottom: 8px;
}
h1.peoplw-header {
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  width: 409px;
}
p.about-trip-text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}
p.reviwver-location {
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  padding-bottom: 34px;
}
p.name-reviewver {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  padding: 34px 0 5px 0;
}
.img-and-people-ask {
  width: 504px;
  background-color: #f9f7f5;
  position: relative;
  padding: 28px 68px 0 34px;
  border-radius: 22px;
}
.img-and-people-ask:hover {
  box-shadow: 0 0 24px #b0b0b0;
}
.people-img {
  position: absolute;
  top: -38px;
  left: -41px;
}
/* 767px */
@media only screen and (max-width: 767px){
  .people-img {
    position: absolute;
    top: -47px;
    left: 217px;
}
.main-sec-5 {
  flex-direction: column;
  row-gap: 82px;
  align-items: center;
}
h1.peoplw-header {
  width: 100%;
}

}
/* media query */
/* 312px */
@media (max-width: 312px){
  h1.peoplw-header {
    font-size: 22px;
    width: 174px;
    text-align: center;
}
p.testination {
  text-align: center;
}
.people-img {
  position: absolute;
  top: -56px;
  left: 102px;
}
.img-and-people-ask {
  width: 274px;
}
p.name-reviewver {
  text-align: center;
}
p.reviwver-location {
  text-align: center
}
.main-sec-5 {
  row-gap: 100px !important;
}

}

/* 412px */
@media (max-width: 412px){
  h1.peoplw-header {
    font-size: 22px;
    width: 85% !important;
  }
}
/* 1024px */
@media (max-width: 1024px){
  h1.peoplw-header {
    width: 350px;
}
}

/* 834px */
@media (max-width: 834px){
  .main-sec-5{
    flex-direction: column;
    row-gap: 70px;
    align-items: center;
    justify-content: c
    ;
  }
  h1.peoplw-header{
    width: 64%;
  }
  .img-and-people-ask{
    width: 85%;
    padding: 28px 35px 0 34px;

  }
}
/*************************************** END section-5********************************************** */




/***************************************  section-7********************************************** */
.main-in-field {
  width: 1170px;
  background: #e5dfdf;
  padding: 79px 144px 0 145px;
  position: relative;
  border-radius: 80px 10px 10px 10px;
}
p.info-em-sub {
  font-size: 33px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
  color: #5E6282;
}
.input-sec {
  padding: 74px 0 78px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.mn-in-div {
  position: relative;
  z-index: 1;
}
input.in-email {
  width: 421px;
  height: 68px;
  color: #39425D;
  font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 69px;
}
.email-logo {
  position: absolute;
  bottom: 20px;
  left: 35px;
  cursor: pointer;
}
button.sub-btn:hover {
  background-color: #FF7D68;
}
button.sub-btn {
  width: 180px;
  height: 68px;
  background-color: #FF946D;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  
}
.msg-logo {
  position: absolute;
  top: -26px;
  right: -30px;
  cursor: pointer;
}
.start-deco {
  position: absolute;
  right: -93px;
  bottom: -73px;
}
.ring-deco {
  position: absolute;
  right: 0;
  top: 0px;
  opacity: 0.1;
}
.left-ring-deco {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  
}
/* media query */

/* 412px */
@media (max-width: 412px){
  .main-in-field {
    background: #e5dfdf;
    /* padding: 79px 144px 0 145px; */
    padding: 0;
    position: relative;
    border-radius: 80px 10px 10px 10px;
}
p.info-em-sub {
  font-size: 16px !important ;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #5E6282;
  padding-top: 45px;
}
.input-sec {
  padding: 31px 0 32px 0;
  text-align: center;
  /* display: flex
; */
  justify-content: center;
  /* gap: 24px; */
}

input.in-email {
  width: 90% !important;
  height: 44px !important;
  color: #39425D;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 69px;
}
.email-logo {
  position: absolute;
  top: 12px;
  left: 33px;
  /* display: flex
; */
  /* justify-content: center; */
  /* align-items: center; */
}
button.sub-btn {
  width: 90% !important;
  height: 47px !important;
  background-color: #FF946D;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-left: 13px;
}
.input-sec {
  flex-direction: column;
}
.start-deco {
  position: absolute !important;
  right: -10px !important;
  bottom: -58px !important;
  z-index: 1 !important;
  max-width: 33% !important;
}


}

/* 412px */
@media (max-width: 425px){
  .main-in-field {
    background: #e5dfdf;
    /* padding: 79px 144px 0 145px; */
    padding: 0;
    position: relative;
    border-radius: 80px 10px 10px 10px;
}
p.info-em-sub {
  font-size: 16px !important ;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #5E6282;
  padding-top: 45px;
}
.input-sec {
  padding: 31px 0 32px 0;
  text-align: center;
  /* display: flex
; */
  justify-content: center;
  /* gap: 24px; */
}

input.in-email {
  width: 90% !important;
  height: 44px !important;
  color: #39425D;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 69px;
}
.email-logo {
  position: absolute;
  top: 12px;
  left: 33px;
  /* display: flex
; */
  /* justify-content: center; */
  /* align-items: center; */
}
button.sub-btn {
  width: 90% !important;
  height: 47px !important;
  background-color: #FF946D;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-left: 13px;
}
.input-sec {
  flex-direction: column;
}
.start-deco {
  position: absolute !important;
  right: -10px !important;
  bottom: -58px !important;
  z-index: 1 !important;
  max-width: 33% !important;
}


}
/* 312px */
@media (max-width : 312px){
  .main-in-field {
    background: #e5dfdf;
    /* padding: 79px 144px 0 145px; */
    padding: 0;
    position: relative;
    border-radius: 80px 10px 10px 10px;
}
p.info-em-sub {
  font-size: 16px !important ;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #5E6282;
  padding-top: 45px;
}
.input-sec {
  padding: 31px 0 32px 0;
  text-align: center;
  /* display: flex
; */
  justify-content: center;
  /* gap: 24px; */
}

input.in-email {
  width: 90% !important;
  height: 44px !important;
  color: #39425D;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 69px;
}
.email-logo {
  position: absolute;
  top: 12px;
  left: 33px;
  /* display: flex
; */
  /* justify-content: center; */
  /* align-items: center; */
}
button.sub-btn {
  width: 90% !important;
  height: 47px !important;
  background-color: #FF946D;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-left: 13px;
}
.input-sec {
  flex-direction: column;
}
.start-deco {
  position: absolute !important;
  right: -10px !important;
  bottom: -58px !important;
  z-index: 1 !important;
  max-width: 33% !important;
}

}

@media (max-width: 1280px){
  .main-in-field {
    width: auto;
  }
  .start-deco {
    position: absolute;
    right: -58px;
    bottom: -73px;
    z-index: -1;
}
  
}

@media (max-width: 1200px){
  .start-deco {
    position: absolute;
    right: -25px;
    bottom: -69px;
    z-index: -1;
}
}

/* 834px */
@media (max-width: 834px){
  .email-logo {
    bottom: 13px;
  }
  input.in-email {
    width: 348px;
    height: 53px;
  }
  button.sub-btn {
    width: 23%;
    height: 50px;
  }
}

/* 767px */
@media (max-width: 767px){
  p.info-em-sub {
    font-size:25px ;
  }
  input.in-email {
    width: 297px;
  }
}
/*************************************** END section-7********************************************** */